<div class="table-responsive-sm" id="customMain">
    <div class="row">
        <div class="col-8">
            <p class="float-left"><span class="badge badge-info badge-labeled labels mr-1">System
                    : {{header['externalSystem']}}</span></p>
            <p class="float-left"><span class="badge badge-info badge-labeled labels mr-1">Status
                    : {{header['status']}}</span></p>
            <p class="float-left"><span class="badge badge-info badge-labeled labels mr-1">Id :
                    {{header['shipmentHeaderId']}}</span></p>
            <p class="float-left"><span class="badge badge-info badge-labeled labels mr-1">Shipment Date:
                    {{header['shippingDate']
                    | date: 'MM/dd/yyyy'}}</span></p>
        </div>
        <div class="col-4">
            <button class="btn btn-primary float-right mr-1" type="button" (click)="closeShipment(header)">
                <i class="fas fa-angle-double-down"></i>
                Save Shipment
            </button>
            <button *ngIf="config['showFlatFileButton']" class="btn btn-secondary float-right mr-1" type="button"
                (click)="downloadShipmentFlatFile(header)"><i class="fas fa-file-csv"></i>
                Export Flat File</button>
        </div>
    </div>
    <div class="row">
        <div class="col-12 " [ngClass]="{'order-first': config['shipmentCollapse']}">
            <p class="h6">Shipment Information</p>
            <table class="table">
                <!-- shipment -->
                <thead class="bg-custom2 text-white text-center">
                    <tr>
                        <th>Pallet</th>
                        <th>Carton</th>
                        <th>XCVR</th>
                        <th>Qty</th>
                        <th>SBA</th>
                        <th>RMA</th>
                        <th>SO</th>
                        <th>Delivery</th>
                        <th>ASN</th>
                        <th *ngIf="header['externalSystem']==='CAPTARIS'">Captaris</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="text-center bg-custom3" *ngFor="let detail of header['expShipmentDetails']">
                        <td><button *ngIf="config['showPalletBtn']" style="width: 100%;" class="fontxs btn btn-outline-info"
                                type="button" (click)="updateContainer(header, detail.pallet, containerModal)">
                                <fa-icon class="icon" [icon]="['fas', ((detail.pallet.weight && detail.pallet.dimension)?'check':'edit')]"></fa-icon>
                                {{detail.pallet.reference }}
                            </button>
                            <span *ngIf="!config['showPalletBtn']"> {{detail.pallet.reference }}</span>
                        </td>
                        <td><button style="width: 100%;" *ngIf="detail.carton && config['showCartonBtn']" class="fontxs btn btn-outline-info"
                                type="button" (click)="updateContainer(header, detail.carton, containerModal)">
                                <fa-icon class="icon" [icon]="['fas', ((detail.carton.weight && detail.carton.dimension)?'check':'edit')]"></fa-icon>
                                {{(detail.carton !== null)? detail.carton['reference']:''}}
                            </button>
                            <span *ngIf="!config['showCartonBtn']">{{(detail.carton !== null)?
                                detail.carton['reference']:''}}</span>
                        </td>

                        <td>{{ detail.materialId }}</td>
                        <td>{{ detail.quantity }}</td>
                        <td>{{ detail.sba }}</td>
                        <td>{{ detail.rma }}</td>
                        <td>{{ detail.salesOrder }}</td>
                        <td>{{ detail.delivery }}</td>
                        <td>{{ detail.asn }}</td>
                        <td *ngIf="header['externalSystem']==='CAPTARIS'">{{ detail.externalId }}</td>
                    </tr>
                </tbody>
                <!-- ./ shipment -->
            </table>
        </div>
        <div class="col-12" [ngClass]="{'order-first': config['customsCollapse']}">
            <p class="h6">Customs Information</p>
            <table class="table">
                <thead class="bg-custom2 text-white text-center">
                    <tr>
                        <th>Date</th>
                        <th>Invoice</th>
                        <th>Pediment</th>
                        <th>Incoterm</th>
                        <th>Carrier</th>
                        <th>Tracking</th>
                        <th>Plate</th>
                        <th>Seal</th>
                        <th>Transport Type</th>
                        <th><button *ngIf="config['addCustomsInvoice']" class="btn btn-xs btn-primary float-right" type="button"
                                (click)="addInvoice(header, null, CustomsModal)">
                                <i class="fas fa-file-invoice-dollar"></i> Add Invoice </button>
                        </th>
                    </tr>
                </thead>
                <!-- customs -->
                <tbody>
                    <tr class="bg-custom3" *ngFor="let customs of header['expShipmentCustoms']">
                        <td>{{ customs['invoiceDate'] | date: 'MM/dd/yyyy'}}</td>
                        <td>{{ customs['customsInvoice'] }}</td>
                        <td>{{ customs['pediment'] }}</td>
                        <td>{{ header['incoterm'] }}</td>
                        <td>{{ header['carrier'] }}</td>
                        <td>{{ header['tracking'] }}</td>
                        <td>{{ header['plate'] }}</td>
                        <td>{{ header['seal'] }}</td>
                        <td>{{ header['transportType'] }}</td>
                        <td>
                            <button *ngIf="config['addCustomsInvoice']" class="btn btn-xs btn-primary float-right" type="button"
                                (click)="addInvoice(header, customs, CustomsModal)">
                                <i class="fas fa-pencil-alt"></i> Edit</button>
                        </td>
                    </tr>
                </tbody>
                <!-- ./ customs -->
            </table>
        </div>
        <div class="col-12" [ngClass]="{'order-first': config['financeCollapse']}">
            <p class="h6">Finance Information</p>
            <table class="table">
                <thead class="bg-custom2 text-white text-center">
                    <tr>
                        <th>Sales order</th>
                        <th colspan=2>Delivery</th>
                        <th colspan=1>Date</th>
                        <th colspan=2>Invoice</th>
                        <th colspan=3>UUID</th>
                        <th><button *ngIf="config['addFinanceInvoice']" class="btn btn-xs btn-primary float-right" type="button"
                                (click)="addInvoice(header, null, financeModal)">
                                <i class="fas fa-file-invoice-dollar"></i> Add Invoice </button>
                        </th>
                    </tr>
                </thead>
                <!-- finances -->
                <tbody>
                    <tr class="bg-custom3" *ngFor="let finance of header['expShipmentDetailsFinance']">
                        <td>{{finance['salesOrder']}}</td>
                        <td colspan=2>{{finance['delivery']}}</td>
                        <td colspan=1>{{ finance.finInvDate | date: 'MM/dd/yyyy'}}</td>
                        <td colspan=2>{{ finance.finInvoice }}</td>
                        <td colspan=3>{{ finance.uuid }}</td>
                        <td>
                            <button *ngIf="config['addFinanceInvoice']" class="btn btn-xs btn-primary float-right mr-1"
                                type="button" (click)="addInvoice(header, finance, financeModal)">
                                <i class="fas fa-pencil-alt"></i> Edit</button>
                        </td>
                    </tr>
                </tbody>
                <!-- ./ Finance -->
            </table>
        </div>
    </div>

    <ng-template #containerModal let-modal>
        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Profile update</h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('CANCEL')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="row" #myModal>
                <div class="col-sm-12">
                    <form action="javascript:void(0);">
                        <fieldset class="form-group">
                            <label class="ng-tns-c9-19">Weight</label>
                            <input class="form-control" type="number" (keyup.enter)="dimensionControl.focus()" readonly="ShipmentEditable(header)"
                                #weightControl name="weightControl" id="weightControl" [(ngModel)]="container['weight']"
                                (focus)="$event.target.select()">
                            <p class="help-block">Enter weight in Kg</p>
                        </fieldset>
                        <fieldset class="form-group">
                            <label class="ng-tns-c9-19">Dimension</label>
                            <input class="form-control" #dimensionControl (keyup.enter)="saveContainer.focus()"
                                [(ngModel)]="container['dimension']" (focus)="$event.target.select()" name="dimensionControl"
                                id="dimensionControl">
                            <p class="help-block">Enter dimensions Lenght x Width x Height (10x10x10)</p>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button #cancelContainer type="button" class="btn btn-secondary" (click)="modal.dismiss('CANCEL')">Cancel</button>
            <button #saveContainer type="button" class="btn btn-success" (click)="modal.close('SAVE')">Update</button>
        </div>
    </ng-template>


    <ng-template #CustomsModal let-modal>
        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Customs Invoice</h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('CANCEL')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="row" #customsModal>
                <div class="Date col-xs-6 col-sm-3">
                    <fieldset class="form-group">
                        <label class="ng-tns-c9-19">Invoice Date</label>
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" #invoiceDateCtrl id="invoiceDateCtrl" (keyup.enter)="invoiceCtrl.focus()"
                                (focus)="d.toggle()" ngbDatepicker #d="ngbDatepicker" [(ngModel)]="customInvoice['date']"
                                (change)="invoiceCtrl.focus()">
                            <div class="input-group-append">
                                <button class="btn btn-outline-info" type="button" id="button-addon2" (click)="d.toggle()"
                                    (select)="invoiceCtrl.focus()">
                                    <fa-icon [icon]="['fas', 'calendar-alt']"></fa-icon>
                                </button>
                            </div>
                        </div>
                    </fieldset>
                </div>
                <div class="Carrier col-xs-6 col-sm-4">
                    <fieldset class="form-group">
                        <label class="ng-tns-c9-19">Carrier</label>
                        <input class="form-control" type="text" oninput="this.value = this.value.toUpperCase()"
                            #carrierCtrl id="carrierCtrl" (keyup.enter)="trackingCtrl.focus()" [(ngModel)]="customInvoice['carrier']"
                            (focus)="$event.target.select()" [attr.maxlength]="customsLength.carrier">
                    </fieldset>
                </div>
                <div class="Tracking col-sm-5">
                    <fieldset class="form-group">
                        <label class="ng-tns-c9-19">Tracking Number</label>
                        <input class="form-control" type="number" #trackingCtrl (keyup.enter)="plateCtrl.focus()"
                            (focus)="$event.target.select()" [(ngModel)]="customInvoice['tracking']" [attr.maxlength]="customsLength.tracking">
                    </fieldset>
                </div>
                <div class="invoice col-sm-6 col-md-3">
                    <fieldset class="form-group">
                        <label class="ng-tns-c9-19">Invoice</label>
                        <input class="form-control" type="number" #invoiceCtrl (keyup.enter)="carrierCtrl.focus()"
                            (focus)="$event.target.select()" [(ngModel)]="customInvoice['customsInvoice']"
                            [attr.maxlength]="customsLength.invoice">
                    </fieldset>
                </div>
                <div class="Plate col-xs-6 col-md-3">
                    <fieldset class="form-group">
                        <label class="ng-tns-c9-19">Plate</label>
                        <input class="form-control" type="text" #plateCtrl oninput="this.value = this.value.toUpperCase()"
                            (keyup.enter)="sealCtrl.focus()" (focus)="$event.target.select()" [(ngModel)]="customInvoice['plate']"
                            [attr.maxlength]="customsLength.plate">
                    </fieldset>
                </div>
                <div class="Seal col-xs-6 col-md-3">
                    <fieldset class="form-group">
                        <label class="ng-tns-c9-19">Seal</label>
                        <input class="form-control" type="text" #sealCtrl oninput="this.value = this.value.toUpperCase()"
                            (keyup.enter)="transportCtrl.focus()" (focus)="$event.target.select()" [(ngModel)]="customInvoice['seal']"
                            [attr.maxlength]="customsLength.seal">
                    </fieldset>
                </div>
                <div class="TransportType col-sm-6 col-md-3">
                    <fieldset class="form-group">
                        <label class="ng-tns-c9-19">Transport</label>
                        <input class="form-control" type="text" #transportCtrl oninput="this.value = this.value.toUpperCase()"
                            (keyup.enter)="incotermCtrl.focus()" (focus)="$event.target.select()" [(ngModel)]="customInvoice['transportType']"
                            [attr.maxlength]="customsLength.transport">
                    </fieldset>
                </div>
                <div class="Incoterm col-sm-6 col-md-3">
                    <fieldset class="form-group">
                        <label class="ng-tns-c9-19">Incoterm</label>
                        <input class="form-control" type="text" #incotermCtrl oninput="this.value = this.value.toUpperCase()"
                            (keyup.enter)="pedimentCtrl.focus()" (focus)="$event.target.select()" [(ngModel)]="customInvoice['incoterm']"
                            [attr.maxlength]="customsLength.incoterm">
                    </fieldset>
                </div>
                <div class="Clear col-sm-6 col-md-9">
                    <fieldset class="form-group">
                        <label class="ng-tns-c9-19">Pediment</label>
                        <input class="form-control" type="number" #pedimentCtrl oninput="this.value = this.value.toUpperCase()"
                            (keyup.enter)="pedimentCtrl.focus()" (focus)="$event.target.select()" [(ngModel)]="customInvoice['pediment']"
                            [attr.maxlength]="customsLength.pediment">
                    </fieldset>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="modal.dismiss('CANCEL')">Cancel</button>
            <button type="button" class="btn btn-success" (click)="modal.close('SAVE')">Update</button>
        </div>
    </ng-template>

    <ng-template #financeModal let-modal>

        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Finance Invoice</h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('CANCEL')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-sm-4">
                    <fieldset class="form-group">
                        <label class="ng-tns-c9-19">Sales Order</label>
                        <select #salesOrderCtrl [(ngModel)]="financeInvoice['salesOrder']" class="form-control input-group-text">
                            <option selected disabled>Select a sales order</option>
                            <option [value]="salesOrder" *ngFor="let salesOrder of  financeInvoice['salesOrderLst']">{{salesOrder}}</option>
                        </select>
                    </fieldset>
                </div>
                <div class="col-sm-4">
                    <fieldset class="form-group">
                        <label class="ng-tns-c9-19">Invoice Date</label>
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" #invoiceDateCtrl (keyup.enter)="invoiceCtrl.focus()"
                                (focus)="d.toggle()" ngbDatepicker #d="ngbDatepicker" [(ngModel)]="financeInvoice['date']"
                                (change)="invoiceCtrl.focus()">
                            <div class="input-group-append">
                                <button class="btn btn-outline-info" type="button" id="button-addon2" (click)="d.toggle()"
                                    (select)="invoiceCtrl.focus()">
                                    <fa-icon [icon]="['fas', 'calendar-alt']"></fa-icon>
                                </button>
                            </div>
                        </div>
                    </fieldset>
                </div>
                <div class="col-sm-4">
                    <fieldset class="form-group">
                        <label class="ng-tns-c9-19">Invoice</label>
                        <input class="form-control" type="number" #invoiceCtrl id="invoiceCtrl" (keyup.enter)="uuidCtrl.focus()"
                            (focus)="$event.target.select()" [(ngModel)]="financeInvoice['finInvoice']"
                            [attr.maxlength]="financeLength.finInvoice">
                    </fieldset>
                </div>
                <div class="col-sm-4">
                    <fieldset class="form-group">
                        <label class="ng-tns-c9-19">Delivery</label>
                        <select #deliveryCtrl [(ngModel)]="financeInvoice['delivery']" class="form-control input-group-text">
                            <option selected disabled>Select a delivery</option>
                            <option [value]="delivery" *ngFor="let delivery of  financeInvoice['deliveryLst']">{{delivery}}</option>
                        </select>
                    </fieldset>
                </div>
                <div class="col-sm-8">
                    <fieldset class="form-group">
                        <label class="ng-tns-c9-19">UUID</label>
                        <input class="form-control" type="text" #uuidCtrl (focus)="$event.target.select()" [(ngModel)]="financeInvoice['uuid']"
                            [attr.maxlength]="financeLength.uuid">
                    </fieldset>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="modal.dismiss('CANCEL')">Cancel</button>
            <button type="button" class="btn btn-success" (click)="modal.close('SAVE')">Save</button>
        </div>
    </ng-template>


</div>