<div class="row" #myModal>
    <div class="col-sm-12">
        <fieldset class="form-group">
            <label class="ng-tns-c9-19">Weight</label>
            <input class="form-control" type="number" (keyup.enter)="dimensionFocus()" #weightControl [(ngModel)]="parentInfo['weight']">
            <p class="help-block">Enter weight in Kg</p>
        </fieldset>
        <fieldset class="form-group">
            <label class="ng-tns-c9-19">Dimension</label>
            <input class="form-control" #dimensionControl (keyup.enter)="saveContainer()" [(ngModel)]="parentInfo['dimension']">
            <p class="help-block">Enter dimensions Lenght x Width x Height (10x10x10)</p>
        </fieldset>
    </div>
</div>


<!-- <pre>{{parentInfo | json}}</pre> -->
