<div class="container-fluid">
  <div class="row">
    <div class="col-sm-offset-0 col-sm-12 col-md-offset-3 col-md-6 block-ui-template">
      <div class="card" style="height: 150px">
        <div class="card-body">
          <div class="spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
          </div>
          <br>
          <hr>
          <h2 class="text-center textPosition">{{message}}</h2>
        </div>
      </div>
    </div>
  </div>
</div>